.meesh-home {
  text-align: center;

  &__hello {
    cursor: pointer;
    display: inline-block;

    &:hover {
      animation: wave .8s;
      animation-iteration-count: infinite;
    }

    a {
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;

    &-icon {
      color: $dark-pink;
      border-radius: 2px;
      margin: 0 5px;
      padding: 4px 4px 3px;

      &:hover {
        background-color: $dark-pink;
        color: $white;
      }
    }

    &-row {
      margin-bottom: 10px;
    }
  }
}

@keyframes wave {
  0% { transform: rotate(-3deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(-3deg); }
}